<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/css/admin/styles.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/core.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/components.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/colors.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/octicons.css" rel="stylesheet" type="text/css">

	<!-- /global stylesheets -->
	<!-- Core JS files -->
	<script type="text/javascript" src="/js/admin/pace.min.js"></script>
	<script type="text/javascript" src="/js/admin/jquery.min.js"></script>
	<script type="text/javascript" src="/js/admin/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/admin/blockui.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="/js/admin/d3.min.js"></script>
	<script type="text/javascript" src="/js/admin/d3_tooltip.js"></script>
	<script type="text/javascript" src="/js/admin/switchery.min.js"></script>
	<script type="text/javascript" src="/js/admin/uniform.min.js"></script>
	<script type="text/javascript" src="/js/admin/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="/js/admin/moment.min.js"></script>
	<script type="text/javascript" src="/js/admin/daterangepicker.js"></script>
	<script type="text/javascript" src="/js/admin/app.js"></script>
	<script type="text/javascript" src="/js/admin/dashboard.js"></script>

	<!-- /theme JS files -->
</head>
<body class="pace-done">
	<div class="pace  pace-inactive">
		<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
			<div class="pace-progress-inner"></div>
		</div>
		<div class="pace-activity">

		</div>
	</div>
	<div class="pace  pace-inactive">
		<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
			<div class="pace-progress-inner">

			</div>
		</div>
		<div class="pace-activity">

		</div>
	</div>
	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/profile">
				<img src="http://demo.interface.club/limitless/layout_1/LTR/default/assets/images/logo_light.png" alt="">
			</a>
			<ul class="nav navbar-nav visible-xs-block">
				<li>
					<a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a>
				</li>
				<li>
					<a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a>
				</li>
			</ul>
		</div>
		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li>
					<a class="sidebar-control sidebar-main-toggle hidden-xs">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-bubbles4"></i>
						<span class="visible-xs-inline-block position-right">Messages</span>
						<span class="badge bg-warning-400">2</span>
					</a>
					<div class="dropdown-menu dropdown-content width-350">
						<div class="dropdown-content-heading">
							Messages
							<ul class="icons-list">
								<li><a href="#"><i class="icon-compose"></i></a></li>
							</ul>
						</div>
						<ul class="media-list dropdown-content-body">
							<li class="media">
								<div class="media-left">
									<img src="http://demo.interface.club/limitless/layout_1/LTR/default/assets/images/demo/users/face10.jpg" class="img-circle img-sm" alt="">
									<span class="badge bg-danger-400 media-badge">5</span>
								</div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">James Alexander</span>
										<span class="media-annotation pull-right">04:58</span>
									</a>
									<span class="text-muted">who knows, maybe that would be the best thing for me...</span>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<img src="http://demo.interface.club/limitless/layout_1/LTR/default/assets/images/demo/users/face3.jpg" class="img-circle img-sm" alt="">
									<span class="badge bg-danger-400 media-badge">4</span>
								</div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Margo Baker</span>
										<span class="media-annotation pull-right">12:16</span>
									</a>
									<span class="text-muted">That was something he was unable to do because...</span>
								</div>
							</li>
							<li class="media">
								<div class="media-left"><img src="http://demo.interface.club/limitless/layout_1/LTR/default/assets/images/demo/users/face24.jpg" class="img-circle img-sm" alt=""></div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Jeremy Victorino</span>
										<span class="media-annotation pull-right">22:48</span>
									</a>
									<span class="text-muted">But that would be extremely strained and suspicious...</span>
								</div>
							</li>
							<li class="media">
								<div class="media-left"><img src="http://demo.interface.club/limitless/layout_1/LTR/default/assets/images/demo/users/face4.jpg" class="img-circle img-sm" alt=""></div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Beatrix Diaz</span>
										<span class="media-annotation pull-right">Tue</span>
									</a>
									<span class="text-muted">What a strenuous career it is that I've chosen...</span>
								</div>
							</li>
							<li class="media">
								<div class="media-left"><img src="http://demo.interface.club/limitless/layout_1/LTR/default/assets/images/demo/users/face25.jpg" class="img-circle img-sm" alt=""></div>
								<div class="media-body">
									<a href="#" class="media-heading">
										<span class="text-semibold">Richard Vango</span>
										<span class="media-annotation pull-right">Mon</span>
									</a>

									<span class="text-muted">Other travelling salesmen live a life of luxury...</span>
								</div>
							</li>
						</ul>
						<div class="dropdown-content-footer">
							<a href="#" data-popup="tooltip" title="" data-original-title="All messages"><i class="icon-menu display-block"></i></a>
						</div>
					</div>
				</li>
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						{% if app.user.avatar == NULL  %}
						<img src="/img/user_icon.jpg" class="img-circle img-sm" >
						{% else %}
						<img src="{{app.user.avatar}}" class="img-circle img-sm" >
						{% endif %}
						<span>{{app.user.username}}</span>
						<i class="caret"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li>
							<a href="/admin/profile"><i class="icon-user-plus"></i> My profile</a>
						</li>
						<li class="disabled">
							<a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/logout"><i class="icon-switch2"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->
	<!-- Page container -->
	<div class="page-container" style="min-height:1085px;padding-top: 40px;">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-fixed">
				<div class="sidebar-content">
					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left">
									{% if app.user.avatar == NULL %}
									<img src="/img/user_icon.jpg" class="img-circle img-sm" alt="">
									{% else %}
									<img src="{{app.user.avatar}}" class="img-circle img-sm" alt="">
									{% endif %}
								</a>
								<div class="media-body">
									<span class="media-heading text-semibold">{{app.user.username}}</span>
									<div class="text-size-mini text-muted">
										{{app.user.first_name}}	{{app.user.last_name}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->
					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="" data-original-title="Main pages"></i></li>
								<li {% if title == 'Dashboard' %} class="active" {% endif %}><a href="/admin"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
								<li {% if title == 'Users' %} class="active" {% endif %}><a href="/admin/users"><i class="icon-user"></i> <span>Users</span></a></li>
								<li {% if title == 'Photos' %} class="active" {% endif %}><a href="/admin/photos"><i class="icon-images3 position-left"></i> <span>Photos</span></a></li>
								<li class="disabled">
									<a href="#" class="has-ul">
										<i class="icon-stack2"></i> 
										<span>Page layouts</span>
										<span class="label label-transparent">Coming soon</span>
									</a>
									<ul class="hidden-ul">
										<li><a href="layout_navbar_fixed.html">Fixed navbar</a></li>
										<li><a href="layout_navbar_sidebar_fixed.html">Fixed navbar &amp; sidebar</a></li>
										<li><a href="layout_sidebar_fixed_native.html">Fixed sidebar native scroll</a></li>
										<li><a href="layout_navbar_hideable.html">Hideable navbar</a></li>
										<li><a href="layout_navbar_hideable_sidebar.html">Hideable &amp; fixed sidebar</a></li>
										<li><a href="layout_footer_fixed.html">Fixed footer</a></li>
										<li class="navigation-divider"></li>
										<li><a href="boxed_default.html">Boxed with default sidebar</a></li>
										<li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>
										<li><a href="boxed_full.html">Boxed full width</a></li>
									</ul>
								</li>
								<li class="disabled">
									<a href="#" class="has-ul"><i class="icon-copy"></i> <span>Layouts</span><span class="label label-transparent">Coming soon</span></a>
									<ul class="hidden-ul">
										<li><a href="../../../layout_1/LTR/" id="layout1">Layout 1</a></li>
										<li><a href="" id="layout2">Layout 2 <span class="label bg-warning-400">Current</span></a></li>
										<li><a href="../../../layout_3/LTR/" id="layout3">Layout 3</a></li>
										<li><a href="../../../layout_4/LTR/" id="layout4">Layout 4</a></li>
										<li><a href="../../../layout_5/LTR/" id="layout5">Layout 5</a></li>
										<li class="disabled"><a href="../../../layout_6/LTR/" id="layout6">Layout 6 <span class="label label-transparent">Coming soon</span></a></li>
									</ul>
								</li>
								<li>
									<a href="#" class="has-ul"><i class="icon-stack"></i> <span>Starter kit</span></a>
									<ul class="hidden-ul">
										<li><a href="starters/horizontal_nav.html">Horizontal navigation</a></li>
										<li><a href="starters/1_col.html">1 column</a></li>
										<li><a href="starters/2_col.html">2 columns</a></li>
										<li>
											<a href="#" class="has-ul">3 columns</a>
											<ul class="hidden-ul">
												<li><a href="starters/3_col_dual.html">Dual sidebars</a></li>
												<li><a href="starters/3_col_double.html">Double sidebars</a></li>
											</ul>
										</li>
										<li><a href="starters/4_col.html">4 columns</a></li>
										<li>
											<a href="#" class="has-ul">Detached layout</a>
											<ul class="hidden-ul">
												<li><a href="starters/detached_left.html">Left sidebar</a></li>
												<li><a href="starters/detached_right.html">Right sidebar</a></li>
												<li><a href="starters/detached_sticky.html">Sticky sidebar</a></li>
											</ul>
										</li>
										<li><a href="starters/layout_boxed.html">Boxed layout</a></li>
										<li class="navigation-divider"></li>
										<li><a href="starters/layout_navbar_fixed_main.html">Fixed main navbar</a></li>
										<li><a href="starters/layout_navbar_fixed_secondary.html">Fixed secondary navbar</a></li>
										<li><a href="starters/layout_navbar_fixed_both.html">Both navbars fixed</a></li>
										<li><a href="starters/layout_fixed.html">Fixed layout</a></li>
									</ul>
								</li>
								<li><a href="/logout"><i class="icon-exit"></i> <span>Logout</span></a></li>
								<!-- /main -->
							</ul>
						</div>
					</div>
					<!-- /main navigation -->
				</div>
			</div>
			<!-- /main sidebar -->
			{% block body %}{% endblock %}
			<!-- Footer -->
			<div class="footer text-muted">
				© 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
			</div>
			<!-- /footer -->
		</div>
		<!-- /content area -->
	</div>
</div>
<!-- /page content -->
</div>
<!-- /page container -->
</body>
</html>
