{% extends 'header.html.twig' %}
{% block body %}
<!-- Page container -->
<div class="page-container">
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			<div class="content">
				<!-- Advanced login -->
				{{ form_start(form) }}
				<div class="panel panel-body login-form">
					<div class="text-center">
						<div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
						<h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
					</div>
					<div class="content-divider text-muted form-group"><span>Your credentials</span></div>
					<div class="form-group has-feedback has-feedback-left">
						{{ form_row(form.username, { 'attr': {'class': 'form-control' , 'novalidate': 'novalidate'} }) }}
						<div class="form-control-feedback" style="top: 39px;">
							<i class="icon-user-check text-muted"></i>
						</div>
						{% for m in message %}
						<span class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> {{m}}</span>
						{% endfor %}
					</div>
					<div class="form-group">
						{{ form_row(form.password, { 'attr': {'class': 'form-control'} }) }}
					</div>
					<button type="submit" class="btn bg-teal btn-block btn-lg">Register <i class="icon-circle-right2 position-right"></i></button>
					<a href="/" class="btn bg-teal btn-block btn-lg"><i class="icon-circle-left2 position-left"></i>Back </a>
				</div>
				{{ form_end(form) }}
				<!-- /advanced login -->
				{% endblock %}