{% extends '/admin/header.html.twig' %}
{% block body %}
<!-- Main content -->
<div class="content">
	{% for user in user %}
	<div class="page-header page-header-default">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{{user.username}}</span></h4>
			</div>
			<a class="heading-elements-toggle"><i class="icon-more"></i></a>
		</div>
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="/admin"><i class="icon-home2 position-left"></i> Home</a></li>
				<li><a href="/admin/users"><i class="icon-users position-left"></i> Users</a></li>
				<li class="active"><i class="icon-user position-left"></i> {{user.username}}</li>
			</ul>
			<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
		</div>
	</div>
	{% endfor %}


	<!-- Page header -->
	<div class="page-header">
		<!-- Header content -->
		<div class="page-header-content">
			<a class="heading-elements-toggle"><i class="icon-more"></i></a>
		</div>
		<!-- /header content -->
		<!-- Toolbar -->
		<div class="navbar navbar-default navbar-component navbar-xs">
			<ul class="nav navbar-nav visible-xs-block">
				<li class="full-width text-center">
					<a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a>
				</li>
			</ul>
			<div class="navbar-collapse collapse" id="navbar-filter">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#activity" data-toggle="tab" aria-expanded="true"><i class="icon-menu7 position-left"></i> Activity</a>
					</li>
					<li>
						<a href="#photos" data-toggle="tab" aria-expanded="false"><i class="icon-images3 position-left"></i> Photos <span class="badge badge-success badge-inline position-right">{{photos}}</span></a>
					</li>
					<li>
						<a href="#settings" data-toggle="tab" aria-expanded="false"><i class="icon-cog3 position-left"></i> Settings</a>
					</li>
				</ul>
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="disabled">
							<a href="#"><i class="icon-stack-text position-left"></i> Notes</a>
						</li>
						<li class="disabled">
							<a href="#"><i class="icon-collaboration position-left"></i> Friends</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i> <span class="visible-xs-inline-block position-right"> Options</span> <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="disabled">
									<a href="#"><i class="icon-image2"></i> Update cover</a>
								</li>
								<li class="disabled">
									<a href="#"><i class="icon-clippy"></i> Update info</a>
								</li>
								<li class="disabled">
									<a href="#"><i class="icon-make-group"></i> Manage sections</a>
								</li>
								<li class="disabled" class="divider"></li>
								<li class="disabled">
									<a href="#"><i class="icon-three-bars"></i> Activity log</a>
								</li>
								<li class="disabled">
									<a href="#"><i class="icon-cog5"></i> Profile settings</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /toolbar -->
	</div>
	<!-- /page header -->
	<!-- Content area -->
	<div class="content">
		<!-- User profile -->
		<div class="row">
			<div class="col-lg-9">
				<div class="tabbable">
					<div class="tab-content">
						<div class="tab-pane fade active in" id="activity">
							<!-- Timeline -->
							<div class="timeline timeline-left content-group">
								<div class="timeline-container">
									<!-- Sales stats -->
									<div class="timeline-row">
										<div class="timeline-icon">
											<a href="#"><img src="assets/images/demo/users/face24.jpg" alt=""></a>
										</div>
										<div class="panel panel-flat timeline-content">
											<div class="panel-heading">
												<h6 class="panel-title">Daily statistics</h6>
												<div class="heading-elements">
													<span class="heading-text"><i class="icon-history position-left text-success"></i> Updated 3 hours ago</span>
													<ul class="icons-list">
														<li><a data-action="reload"></a></li>
													</ul>
												</div>
												<a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
												<div class="panel-body">
													<div class="chart-container">
														<div class="chart has-fixed-height" id="sales" _echarts_instance_="1470923970000" style="-webkit-tap-highlight-color: transparent; -webkit-user-select: none; cursor: default; background-color: rgba(0, 0, 0, 0);"><div style="position: relative; overflow: hidden; width: 740px; height: 400px;"><div data-zr-dom-id="bg" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 1087px; height: 400px; -webkit-user-select: none;"></div><canvas width="740" height="400" data-zr-dom-id="0" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 740px; height: 400px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas><canvas width="740" height="400" data-zr-dom-id="1" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 740px; height: 400px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas><canvas width="740" height="400" data-zr-dom-id="_zrender_hover_" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 740px; height: 400px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas><div class="echarts-tooltip zr-element" style="position: absolute; display: none; border: 0px solid rgb(51, 51, 51); white-space: nowrap; transition: left 0.4s, top 0.4s; border-radius: 4px; color: rgb(255, 255, 255); font-family: Roboto, sans-serif; padding: 8px 12px; left: 483px; top: 118.5px; background-color: rgba(0, 0, 0, 0.8);">Sat<br>Profit : 220<br>Income : 450<br>Expenses : -230</div></div></div>
													</div>
												</div>
											</div>
										</div>
										<!-- /sales stats -->
										<!-- Date stamp -->
										<div class="timeline-date text-muted">
											<i class="icon-history position-left"></i> <span class="text-semibold">Monday</span>, April 18
										</div>
										<!-- /date stamp -->
									</div>
								</div>
								<!-- /timeline -->
							</div>
							<div class="tab-pane fade" id="photos">
								<!-- Calendar -->
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h6 class="panel-title">My schedule</h6>
										<div class="heading-elements">
											<ul class="icons-list">
												<li><a data-action="collapse"></a></li>
												<li><a data-action="reload"></a></li>
												<li><a data-action="close"></a></li>
											</ul>
										</div>
										<a class="heading-elements-toggle"><i class="icon-more"></i></a>
									</div>
									<div class="panel-body">
										<div class="row">
											{% for row in photo %}
											<div class="col-lg-3 col-sm-6" >
												<div class="thumbnail">
													<div class="thumb" style="min-height: 250px;">
														<img src="/{{row.image}}" style="height: 220px;">
														<div class="caption-overflow" style="height: 220px;">
															<span>
																<a href="/{{row.image}}" data-popup="lightbox" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
																<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
															</span>
														</div>
													</div>
													<div class="caption" >
														<h6 class="no-margin-top text-semibold"><a href="#" class="text-default">{{ row.title }}</a> 
															<a href="?delete={{row.id}}" class="text-muted"><i class="icon-x pull-right"></i></a>
															<a href="/{{row.image}}" class="text-muted" download><i class="icon-download pull-right"></i></a>
														</h6>
														{{ row.description }}
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<!-- /calendar -->
							</div>
							<div class="tab-pane fade" id="settings">
								<!-- Profile info -->
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h6 class="panel-title">Profile information</h6>

										<a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
										<div class="panel-body">
											{% for row in user %}
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label for="username">Username</label>
														<input disabled="disabled" type="text"  class="form-control" value="{{row.username}}" required="required" name="username" id="username">
													</div>
													<div class="col-md-6">
														<label for="password">Password</label>
														<input disabled="disabled" type="password" class="form-control"  required="required" name="password" id="password">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label for="first_name">First name</label>
														<input disabled="disabled" type="text" class="form-control" value="{{row.first_name}}" required="required" name="first_name" id="first_name">
													</div>
													<div class="col-md-6">
														<label for="last_name">Last name</label>
														<input disabled="disabled" type="text" class="form-control" value="{{row.last_name}}" required="required" name="last_name" id="last_name">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-md-4">
														<label for="twitter">Twitter</label>
														<input disabled="disabled" type="text"  class="form-control" value="{{row.twitter}}" required="required" name="twitter" id="twitter">
													</div>
													<div class="col-md-4">
														<label for="git">Github</label>
														<input disabled="disabled" type="text" class="form-control" value="{{row.git}}" required="required" name="git" id="git">
													</div>
													<div class="col-md-4">
														<label for="google">Google Drive</label>
														<input disabled="disabled" type="text"  class="form-control" value="{{row.google}}" required="required" name="google" id="google">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label>Email</label>
														<input disabled="disabled" type="text" readonly="readonly"  class="form-control">
													</div>
													<div class="col-md-6">
														<label for="role">Role</label>
														<select disabled="disabled" class="form-control" required="required" name="role" id="role">
															<option value="1" {% if row.role == 1 %} selected="selected" {% endif %}>User</option>
															<option value="2" {% if row.role == 2 %} selected="selected" {% endif %}>Moderator</option> 
															<option value="3" {% if row.role == 3 %} selected="selected" {% endif %}>Admin</option> 
														</select>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
									<!-- /profile info -->
									<!-- /profile info -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<!-- User thumbnail -->
						{% for user in user %}
						<div class="thumbnail">
							<div class="thumb thumb-rounded thumb-slide">
								{% if user.avatar != NULL %}
								<img src="{{user.avatar}}">
								{% else %}
								<img src="/img/user_icon.jpg">
								{% endif %}
								<div class="caption">
									<span>
										<a href="#" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
							<div class="caption text-center">
								<h6 class="text-semibold no-margin">{{user.username}}
									{% if user.first_name != NULL or user.last_name != NULL %}
									<small class="display-block">{{user.first_name}} {{user.last_name}}</small>
									{% endif %}
								</h6>
								{% if user.git != NULL or user.last_name != NULL or user.first_name != NULL %}
								<ul class="icons-list mt-15">
									{% if user.google != NULL  %}
									<li>
										<a href="{{user.google}}" data-popup="tooltip" title="" data-original-title="Google Drive"><i class="icon-google-drive"></i></a>
									</li>
									{% endif %}
									{% if user.twitter != NULL  %}
									<li>
										<a href="{{user.twitter}}" data-popup="tooltip" title="" data-original-title="Twitter"><i class="icon-twitter"></i></a>
									</li>
									{% endif %}
									{% if user.git != NULL  %}
									<li>
										<a href="{{user.git}}" data-popup="tooltip" title="" data-original-title="Github"><i class="icon-github"></i></a>
									</li>
									{% endif %}
								</ul>
								{% endif %}
							</div>
						</div>
						{% endfor %}
						<!-- /user thumbnail -->
					</div>
				</div>
				<!-- /user profile -->
				{% endblock %}