{% extends 'base.html.twig' %}

{% block body %}

      <div class="container clearfix">
    <div class="people-list" id="people-list">
          <ul class="list">
          {% for row in sender %}
        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">
            <div class="name"><a href ="/message/{{app.user.id}}/{{row.userSend.id}}">{{row.userSend.username}}</a></div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>
        {% endfor %}
       </div>
       	        <script type="text/javascript">

            window.onload = function(){

                document.getElementById('scroll').scrollTop = 9999;

            }

        </script>

		<div class="chat" >
			<div class="chat-header clearfix" >
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

				<div class="chat-about">
					<div class="chat-with">Chat with {{requre.username}}</div>
					<div class="chat-num-messages">already 
					{% for row in messagess %}
					{{row[1]}}
					{% endfor %}
					messages</div>
				</div>
				<i class="fa fa-star"></i>
			</div> <!-- end chat-header -->

			<div class="chat-history" id="scroll" >
				<ul>



					{% for row in message %}
					{% if row.userSend.id == app.user.id   %}

					<li class="clearfix">
						<div class="message-data align-right">
							<span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
							<span class="message-data-name" >{{row.userSend.username}}</span> <i class="fa fa-circle me"></i>

						</div>
						<div class="message other-message float-right">
							{{row.text}}
						</div>
					</li>

					{% elseif row.userSend.id == user %}
					<li>
						<div class="message-data">
							<span class="message-data-name"><i class="fa fa-circle online"></i>{{row.userSend.username}}</span>
							<span class="message-data-time">10:12 AM, Today</span>
						</div>
						<div class="message my-message">
							{{row.text}} 
						</div>
					</li>

					{% endif %}	

					{% endfor %}

				</ul>

			</div> <!-- end chat-history -->

			<div class="chat-message clearfix">
				{% if app.user.id == id %}
				<form action="" method="POST" role="form">
					<textarea name="text" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

					<button type="submit" name="send" class="btn btn-primary">Send</button>
				</form>
				{% endif %}
			</div> <!-- end chat-message -->

		</div> <!-- end chat -->

	</div> <!-- end container -->

	

{% endblock %}
