{% extends "::base.html.twig" %}

{% block title %}AppBundle:Post:show{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<div class="panel panel-default">
	<div class="panel-body">
	   {{ post.content }}
	</div>
	<em>Created at: {{ post.createdAt|date('H:m:s, jS, Y') }}</em><br>
	<em>Updated at:  {{ post.updatedAt|date('H:m:s, jS, Y') }}</em><br>
	<blockquote>by {{ post.user.username }}</blockquote>
</div>
{% endblock %}
